/**
 * simple css
 */
.selection-list {
  width: 60%;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.selection-list__title {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
}

.selection-list__options {
  margin-bottom: 20px;
  list-style: none;
  max-height: 300px;
  overflow-y: auto;
}

.selection-list__options::-webkit-scrollbar {
  width: 10px;
}

.selection-list__options::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.selection-list__options::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.selection-list__option {
  margin-bottom: 5px;
  padding: 5px;
  cursor: pointer;
  color: #666;
  transition: background-color 0.3s ease;
}

.selection-list__option:hover {
  color: #000;
  background-color: rgba(126, 165, 234, 0.5);
}

.selection-list__submit {
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.selection-list__submit:hover {
  background-color: #0056b3;
}
